{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css%}
    <title>Contato</title>
</head>
<body>
<div class="container">
    {% bootstrap_messages %}
    <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}
        {% bootstrap_form form %}
        {%  buttons  %}
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
        {% endbuttons %}

    </form>
<h1>Contato</h1>

</div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>